@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Give+You+Glory&display=swap');


h1 {
	font-family: 'Give You Glory', sans-serif;
	color: white;
	text-align: center;
	font-size: 40px;
	font-weight: 400;
}

body {
	background-color: #4d4d4f;
	font-family: Arial, sans-serif;
}

h2 {
	color: white;
	font-family: 'Monserrat', sans-serif;
	font-size: 18px;
	line-height: 1.5em;
	text-align: center;
	width:30em;
 	margin: auto;
 	font-weight: 400;
}

h3 {
	color: white;
	font-family: 'Monserrat', sans-serif;
	font-size: 25px;
	line-height: 1.5em;
	text-align: left;
 	font-weight: 400;
 	margin: 0 20px;
}

h4 {
	color: #00d3de;
	font-family: 'Monserrat', sans-serif;
	font-size: 18px;
	line-height: 1.5em;
	text-align: left;
 	font-weight: 400;
 	margin: 0 20px;

}

h5 {
	color: #00d3de;
	font-family: 'Monserrat', sans-serif;
	font-size: 9px;
	line-height: 1.5em;
	text-align: left;
 	font-weight: 400;
 	margin: 0 20px;

 	}

p, li {
	color: #00d3de;
	font-family: 'Monserrat', sans-serif;
	font-size: 18px;
	line-height: 1.5em;
	margin: 0 20px;
}

HEADER {
	background-color: #FFFFFF;
	padding-bottom: 20px;
}

header nav {
	float:right;
}

.nav li{
	list-style-type: none;
	font-family: Arial, sans-serif;
}

.nav a{
	text-decoration: none
}